*
!.gitignore
!alakol1.jpeg
!alakol2.jpeg
!alakol3.jpeg
!balkash1.jpeg
!balkash2.jpeg
!beskaynar1.jpeg
!beskaynar2.jpeg
!beskaynar3.jpeg
!geo1.png
!geo2.jpeg
!modul1.jpeg
!modul2.jpeg
!yurta1.jpeg
!yurta2.jpeg
!yurta3.jpeg
!belltent1.jpg
!belltent2.jpg
!borovoe1.jpg
!borovoe2.jpg
!borovoegeo1.jpeg
!borovoegeo2.jpeg
!borovoegeo3.jpeg
!borovoegeo4.jpeg
!borovoetent1.jpeg
!borovoetent2.jpeg
!borovoetent3.jpeg
!borovoetent4.jpeg
!borovoeyurta1.jpeg
!borovoeyurta2.jpeg
!borovoeyurta3.jpeg
!borovoeyurta4.jpeg
!borovoeyurtalux1.jpeg
!borovoeyurtalux2.jpeg
!borovoeyurtalux3.jpeg
!borovoeyurtalux4.jpeg
!autohouse1.jpg
!autohouse2.jpg
!autohouse3.jpg
!autohouse4.jpg
!autohouse5.jpg
!autohouse6.jpg
!belltent3.jpg
!belltent4.jpg
!belltent5.jpg
!belltent6.jpg
!geo1.jpg
!geo2.jpg
!geo3.jpg
!geo4.jpg
!geo5.jpg
!geo6.jpg
!karkasnii-dom-foto-1.jpg
!karkasnii-dom-foto-2.jpg
!karkasnii-dom-foto-3.jpg
!karkasnii-dom-foto-4.jpg
!karkasnii-dom-foto-5.jpg
!karkasnii-dom-foto-6.jpg
!trailer1.jpg
!trailer2.jpg
!trailer3.jpg
!trailer4.jpg
!trailer5.jpg
!trailer6.jpg
!yurta1.jpg
!yurta2.jpg
!yurta3.jpg
!yurta4.jpg
!yurta5.jpg
!yurta6.jpg































